<!DOCTYPE html>
<html>
  <head>
    <title>Free Software/Coding Academy</title>
    <%- include('../components/style') %>
  </head>

  <body>
    <%- include('../components/nav', { session: session }) %>

    <section>
      <div class="container">
				<div class="row mb-5">
					<a href="" class="btn btn-primary">New Journal</a>
				</div>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
            <div class="card h-100 hover-box-shadow">
              <div class="card-body">
                <a href="#">
                  <h3>13 Jun 2020</h3>
                </a>
              </div>
              <div class="card-footer d-flex justify-content-between align-items-center">
                <div class="gutter">
									<a href="#" class="mr-2">Update</a>
									<a href="#">Delete</a>
								</div>
                <div class="text-small text-muted">13 Jun 2020</div>
              </div>
            </div>
					</div>
        </div>
        <div class="row justify-content-center mt-4">
          <div class="col-auto">
            <nav>
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link rounded" href="#" aria-label="Previous">
                    <img src="/assets/img/icons/interface/icon-arrow-left.svg" alt="Arrow Left" class="icon icon-xs bg-primary" data-inject-svg>
                  </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link rounded" href="#" aria-label="Next">
                    <img src="/assets/img/icons/interface/icon-arrow-right.svg" alt="Arrow Right" class="icon icon-xs bg-primary" data-inject-svg>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
		</section>
		
    <%- include('../components/footer') %>
    <%- include('../components/script') %>

  </body>

</html>
