<footer class="bg-primary-3 text-white links-white pb-4 footer-1">
    <div class="container">
      <div class="row">
        <div class="col-xl-auto mr-xl-5 col-md-3 mb-4 mb-md-0">
          <h5>School</h5>
          <ul class="nav flex-row flex-md-column">
            <li class="nav-item mr-3 mr-md-0">
              <a href="videos.html" class="nav-link fade-page px-0 py-2">Browse all programs & courses</a>
            </li>
            <li class="nav-item mr-3 mr-md-0">
              <a href="tech-accelerator/index.html" class="nav-link fade-page px-0 py-2">Tech Skill Accelerator</a>
            </li>
          </ul>
        </div>
        <div class="col-xl-auto mr-xl-5 col-md-3">
          <h5>Business</h5>
          <ul class="nav flex-row flex-md-column">
            <!-- <li class="nav-item mr-3 mr-md-0">
              <a href="landing-1.html" class="nav-link fade-page px-0 py-2">About Us</a>
            </li>
            <li class="nav-item mr-3 mr-md-0">
              <a href="landing-2.html" class="nav-link fade-page px-0 py-2">Work</a>
            </li> -->
            <li class="nav-item mr-3 mr-md-0">
              <a href="stories.html" class="nav-link fade-page px-0 py-2">Stories</a>
            </li>
            <li class="nav-item mr-3 mr-md-0">
              <a href="contact.html" class="nav-link fade-page px-0 py-2">Contact</a>
            </li>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <hr>
        </div>
      </div>
      <div class="row flex-column flex-lg-row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left">
        <div class="col-auto">
          <div class="d-flex flex-column flex-sm-row align-items-center text-small">
            <div class="text-muted">&copy; 2019 Krenovator subject to Google's <a href="https://www.google.com/policies/privacy/" target="_blank">Privacy Policy</a> and <a href="https://policies.google.com/terms" target="_blank">Terms of Service</a>
            </div>
          </div>
        </div>
        <div class="col-auto mt-3 mt-lg-0">
          <ul class="list-unstyled d-flex mb-0">
            <li class="mx-3">
              <a href="https://www.instagram.com/krenovator/?hl=en" class="hover-fade-out" target="_blank">
                <img src="/assets/img/icons/social/instagram-white.svg" alt="Instagram" class="icon icon-xs">
              </a>
            </li>
            <li class="mx-3">
              <a href="https://facebook.com/krenovator" class="hover-fade-out" target="_blank">
                <img src="/assets/img/icons/social/facebook-white.svg" alt="Facebook" class="icon icon-xs">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <a href="#top" class="btn btn-primary rounded-circle btn-back-to-top" data-smooth-scroll data-aos="fade-up" data-aos-offset="2000" data-aos-mirror="true" data-aos-once="false">
    <img src="/assets/img/icons/interface/icon-arrow-up.svg" alt="Icon" class="icon bg-white" data-inject-svg>
  </a>