
.col-auto {
    width: 280px;
}

.dropdown-item {
    margin-bottom: 10px;
}

.dropdown-item .title {
    border-bottom: 1px solid #28a745;
    color: black;
}

.dropdown-item .submenu {
    font-weight: normal;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.module {
    padding:10px;
}

.module:hover {
    background-color: #f5efdf;
    border-radius: 5px;
}

* {
    box-sizing: border-box;
  }
  
  #myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  
  }
  
  #myTable th, #myTable td {
    text-align: left;
    padding: 12px;
  
  }
  
  #myTable tr {
    border-bottom: 1px solid #ddd;
  
  }
  
  #myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
  }
  
  /* #myTable td {
    overflow: hidden;
    text-overflow: ellipsis; 
  } */
  
  #myTable td  {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
  
  
  
  
      .modal-dialog-delete {
          position: absolute;
          margin-top: 15%;
          margin-left: 42%;
          transform: translate(-50%, -50%);
          }
  
  
  
  textarea {
  padding: 10px;
  vertical-align: top;
  width: 200px;
  }
  textarea:focus {
  outline-style: solid;
  outline-width: 2px;
  }
  